.main {
  padding-top: 74px;
}

.main section {
  position: relative;
  width: 100%;
  padding-bottom: 100px;
}

.main section:not(:first-child) {
  padding-top: 100px;
}

.about__bg {
  background: url('/assets/image/about/intro-bg.png');
}

/* ===== intro ===== */
.main section.intro {
  text-align: center;
  background-color: var(--white-90);
  padding-bottom: 0;
}

.vision {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  min-height: 850px;
}

.vision__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400%;
  background: linear-gradient(180deg,
      #01040F 0%,
      #0C1B3B 20%,
      #2B4980 45%,
      #336396 65%,
      #54DAFF 100%);
  z-index: -1;
  transform: translateY(0);
  transition: all 4s ease;
}

.vision__bg.animate {
  transform: translateY(75%);
}

.vision__orbit {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 80px;
  left: 50%;
  z-index: 5;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, 50px);
  transition: all 1s;
}

.vision__orbit.animate {
  opacity: 1;
  transform: translateX(-50%);
}

.vision__planet {
  position: absolute;
  top: 68px;
  left: 50%;
  width: 40px;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.vision__planet-title {
  position: absolute;
  top: 112px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--accent-primary);
  font-weight: 900;
  font-size: var(--font-size-h2);
  font-family: 'Paperozi';
}

.vision__orbit-line {
  position: absolute;
  inset: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.vision__symbol {
  position: absolute;
  width: 22px;
  height: 22px;
  background: var(--accent-primary);
  border-radius: 50%;
  top: calc(50% - 11px);
  left: calc(50% - 11px);
  transform: translateX(-50%);
  box-shadow: 0 0 8px rgba(249, 196, 0, 0.6);
}

.vision__symbol--1 {
  animation: orbit-move 9s linear infinite;
}

.vision__symbol--2 {
  animation: orbit-move 12s linear infinite reverse;
}

.vision__symbol--3 {
  animation: orbit-move 15s linear infinite;
}

@keyframes orbit-move {
  from {
    transform: rotate(0deg) translateX(120px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(120px) rotate(-360deg);
  }
}

.rocket__wrapper {
  position: absolute;
  top: 260px;
  left: 50%;
  transform: translate(-50%, 200%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
}

.rocket__wrapper.animate {
  transform: translateX(-50%);
}

.rocket__wrapper.animate {
  transform: translateX(-50%);
}

.rocket__wrapper.idle {
  animation: rocket-hover 2s ease-in-out infinite alternate;
}

@keyframes rocket-hover {
  0% {
    transform: translate(-50%, 0);
    filter: contrast(1);
  }

  50% {
    transform: translate(-50%, 5px);
    filter: contrast(1.2);
  }

  100% {
    transform: translate(-50%, 0);
    filter: contrast(1);
  }
}

.rocket {
  width: 100px;
}

.vision__particle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 6s;
}

.vision__particle.animate {
  opacity: 1;
}

.vision__container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  top: 520px;
}

.vision__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}

.vision__item {
  flex: 1;
  min-width: 280px;
  text-align: center;
  padding: 32px 32px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
  transition: all 0.4s ease;
  font-family: 'Paperozi';
  opacity: 0;
  transform: translateY(50px);
  transition: all .4s;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.vision__item.show:hover {
  transform: translateY(-10px);
  border-color: rgba(249, 196, 0, 0.6);
  box-shadow: 0 0 10px rgba(249, 196, 0, 0.3);
}

.vision__item.show {
  opacity: 1;
  transform: translateY(0);
}

.vision__title {
  font-size: var(--font-size-h3);
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 4px rgba(249, 196, 0, .5);
  font-weight: 700;
  margin-bottom: 2rem;
}

.vision__desc {
  font-size: 1.1rem;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  text-shadow: 0 0 8px rgba(249, 196, 0, 0.1);
}

.zigzag {
  background-color: var(--white-80);
  font-family: 'Paperozi';
}

.zigzag__title {
  text-align: center;
  font-size: var(--font-size-h1);
  color: var(--accent-primary);
  margin-bottom: 40px;
  font-weight: 800;
}

.zigzag__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 140px;
  width: 100%;
  max-width: 1200px;
  padding-top: 60px;
  margin: 0 auto;
}

.zigzag__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 140px;
  opacity: 0;
  visibility: hidden;
  transition: all .8s;
}

.zigzag__item.right {
  flex-direction: row-reverse;
}

.zigzag__item-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px 0;
  transform: translateY(20px);
  transition: all .8s;
}

.zigzag__item.right .zigzag__item-text {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
}

.zigzag__item-title {
  color: var(--accent-primary);
  font-size: var(--font-size-h3);
  margin-bottom: 20px;
}

.zigzag__item-sub {
  color: var(--black-80);
  font-size: var(--font-size-h1);
  font-weight: 600;
  margin-bottom: 32px;
}

.zigzag__item-desc {
  color: var(--black-60);
  font-size: 1.2rem;
  line-height: var(--line-height-normal);
}

.zigzag__item-img {
  width: 420px;
  height: 300px;
  /* 추후에 auto */
  max-width: 90vw;
  background-color: var(--white-100);
  border-radius: 36px;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
  transform: translateX(50px);
  transition: all .8s;
}

.zigzag__item.mobile {
  align-items: center;
}

.pc .zigzag__item-img {
  border-radius: 4px;
}

.mobile .zigzag__item-img {
  width: 260px;
  height: 460px;
}

.zigzag__item.right .zigzag__item-img {
  transform: translateX(-50px);
}

.zigzag__item.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.zigzag__item.active .zigzag__item-img {
  transform: translateX(0);
}

.zigzag__item.active .zigzag__item-text {
  transform: translateY(0);
}

.future {
  padding: 100px 20px;
  background-color: var(--white-100);
  text-align: center;
  font-family: 'Paperozi';
}

.future__title {
  font-size: var(--font-size-h1);
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--accent-primary);
}

.future__sub {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 40px;
  color: var(--black-30);
}

.future__text {
  font-size: var(--font-size-body);
  line-height: var(--line-height-loose);
  max-width: 820px;
  margin: 0 auto;
  color: #555;
}

.join {
  text-align: center;
  background: var(--black-80);
  color: var(--white-40);
  font-family: 'Paperozi';
}

.join__title {
  font-size: var(--font-size-h1);
  color: var(--accent-primary);
  margin-bottom: 60px;
}

.join__text {
  max-width: 700px;
  margin: 0 auto 60px;
  line-height: var(--line-height-loose);
  font-size: var(--font-size-body);
}

/* ===== guide ===== */
.tier {
  text-align: center;
  background-color: var(--white-70);
}

.tier__title {
  font-size: var(--font-size-h1);
  font-weight: 700;
  color: var(--accent-primary);
  margin-bottom: 80px;
  font-family: 'Paperozi';
}

.tier__container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.tier__plan {
  background: var(--white-100);
  border-radius: 4px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  padding: 40px 20px;
  width: 300px;
  transition: all 0.4s;
  border: 3px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tier__plan:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}

.tier__plan--highlight {
  background: radial-gradient(circle, rgba(255, 200, 0, 1) 0%, rgba(249, 170, 0, 1) 100%);
}

.tier__plan--highlight .tier__plan-title, .tier__plan--highlight .tier__plan-price, .tier__plan--highlight .tier__plan-item {
  color: var(--white-100);
}

.tier__plan--highlight .tier__plan-button {
  background-color: var(--white-90);
  color: var(--accent-primary);
}

.tier__plan--highlight .tier__plan-button:hover {
  background-color: var(--white-50);
  color: var(--accent-primary-dark);
}

.tier__plan-title {
  position: relative;
  display: inline-block;
  font-size: 1.1rem;
  margin-bottom: 20px;
  padding: 8px 0;
  border-radius: 8px;
  font-family: 'Paperozi';
  font-weight: 600;
  color: var(--black-30);
}

.tier__plan--highlight .tier__plan-title::after {
  content: "추천";
  position: absolute;
  top: 50%;
  right: -46px;
  width: 40px;
  text-align: center;
  padding: 2px 0;
  font-size: var(--font-size-small);
  font-weight: 600;
  background-color: #d64949;
  color: var(--white-100);
  border-radius: 12px;
  vertical-align: middle;
  transform: translateY(-50%);
}

.tier__plan-price {
  font-size: var(--font-size-h2);
  color: var(--black-60);
  margin-bottom: 40px;
  font-weight: 800;
  font-family: 'Paperozi';
}

.tier__plan-unit {
  font-size: var(--font-size-body);
  opacity: .76;
}

.tier__plan-list {
  padding: 0;
  margin-bottom: 30px;
  text-align: left;
}

.tier__plan--highlight .tier__plan-item {
  font-weight: 600;
}

.tier__plan--highlight .tier__plan-button {
  font-weight: 800;
}

.tier__plan-item {
  margin: 12px 0;
  font-size: 1rem;
  text-align: center;
  line-height: var(--line-height-normal);
}

.tier__plan-button {
  background-color: var(--accent-primary);
  color: var(--white-100);
  border: none;
  border-radius: 8px;
  padding: 12px 0;
  width: 100%;
  font-size: var(--font-size-body);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s;
  font-family: 'Paperozi';
}

.tier__plan-button:hover {
  background-color: var(--accent-primary-dark);
}

/* 반응형 */
@media screen and (max-width: 768px) {
  .guide__step {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .guide__img {
    width: 100%;
    transform: translateY(20px);
  }

  .guide__step.right .guide__img {
    transform: translateY(20px);
  }

  .guide__step.active .guide__img {
    transform: translateY(0);
  }
}




/* 반응형 */
@media screen and (max-width: 768px) {
  .future {
    padding: 60px 15px;
  }

  .future__title {
    font-size: 2rem;
  }

  .future__sub {
    font-size: 1.2rem;
  }

  .future__text {
    font-size: 0.95rem;
    line-height: 1.6;
  }
}

@media screen and (max-width: 480px) {
  .future {
    padding: 40px 10px;
  }

  .future__title {
    font-size: 1.7rem;
  }

  .future__sub {
    font-size: 1rem;
  }

  .future__text {
    font-size: 0.9rem;
    line-height: 1.5;
  }
}