.main {
  padding: 74px 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--white-80);
}

/* 검색창 */
.main__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 72px auto 0 auto;
  width: 100%;
  max-width: 600px;
}

.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--white-100);
  border-radius: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.search-box:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.search-icon {
  font-size: var(--font-size-body);
  color: var(--color-neutral);
  margin-left: 18px;
}

.main__search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 14px 16px;
  font-size: 16px;
  color: var(--black-90);
}

.search-btn {
  background: var(--accent-primary);
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 40px;
  margin-right: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.search-btn:hover {
  background: var(--accent-primary-dark);
}

.search-suggestions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.search-suggestions span {
  background: var(--white-70);
  color: var(--black-90);
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.search-suggestions span:hover {
  background: var(--accent-primary);
  color: var(--white-100);
}

/* 카테고리 */
.category-block {
  text-align: center;
}

.category-title {
  font-size: var(--font-size-body);
  font-weight: 700;
  color: #374151;
  margin-bottom: 15px;
  font-family: 'Paperozi';
}

/* 대분류 버튼 */
.main__category-main .category-btn {
  background: var(--white-90);
  color: var(--black-80);
  border: 1px solid var(--white-60);
  font-weight: 600;
  font-size: var(--font-size-body);
  padding: 10px 18px;
  border-radius: 24px;
  margin: 8px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.main__category-main .category-btn:hover {
  background: var(--accent-primary);
  color: var(--white-90);
  transform: translateY(-4px);
}

.main__category-main .category-btn.category-btn--active {
  transform: scale(1.15);
  background: var(--accent-primary);
  color: var(--white-90);
}

/* 소분류 버튼 */
.main__category-sub {
  padding: 10px;
}

.main__category-sub .category-btn {
  background: transparent;
  color: var(--sub-color);
  border: 1px solid var(--sub-color);
  font-size: var(--font-size-small);
  padding: 8px 14px;
  border-radius: 24px;
  margin: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.main__category-sub .category-btn:hover {
  background: var(--sub-color);
  color: var(--white-90);
  transform: translateY(-3px);
}

.main__category-sub .category-btn.category-btn--active {
  background: var(--sub-color);
  color: var(--white-90);
}

/* 회사 리스트 */
.main__company-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
  margin-bottom: 60px;
  min-height: calc(100vh - 700px);
  position: relative;
}

.company-card {
  width: 260px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: all .3s;
  display: flex;
  flex-direction: column;
}

.company-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.company-card__image-wrapper {
  position: relative;
  width: 100%;
  padding: 10px;
  height: 160px;
  background: var(--white-90);
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-card__image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  background-color: var(--white-60);
}

.company-card__like {
  position: absolute;
  top: 16px;
  right: 16px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 125, 125);
  text-align: center;
  cursor: pointer;
  transition: all .3s;
  font-size: var(--font-size-body);
}

.company-card__like.liked {
  background: #ffebee;
}

.company-card__like:hover {
  background: #ffebee;
  color: #e53935;
}

.company-card__info {
  padding: 12px 14px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.company-card__name {
  font-size: var(--font-size-body);
  font-weight: 600;
  color: var(--black-80);
  padding-left: 6px;
  margin-bottom: 12px;
  font-family: 'Paperozi';
}

.company-card__category {
  font-size: var(--font-size-small);
  color: var(--white-90);
  padding: 8px 12px;
  border-radius: 16px;
  margin-bottom: 12px;
  font-family: 'Paperozi';
}

.company-card__buttons {
  width: 100%;
  display: flex;
  gap: 6px;
}

.company-card__link,
.company-card__detail {
  flex: 1;
  padding: 6px 0;
  font-size: 0.85rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all .3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Paperozi';
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.company-card__link {
  background: var(--accent-primary);
  color: var(--white-100);
}

.company-card__link:hover {
  background: var(--accent-primary-dark);
}

.company-card__link--disabled {
  background: #f0f0f0;
  color: #aaa;
  cursor: not-allowed;
  pointer-events: none;
}

.company-card__link i,
.company-card__detail i {
  margin-right: 4px;
  margin-top: 4px;
}

.company-card__detail {
  background: var(--white-90);
  color: #333;
}

.company-card__detail:hover {
  background: #ddd;
}

.company-card__none {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}