.footer {
    width: 100%;
    padding: 2rem 0;
    background-color: var(--white-90);
    border-top: 1px solid var(--white-50);
}

.footer__inner {
    max-width: 1200px;
    margin: 0 auto;
    color: var(--black-40);
    font-family: 'Paperozi';
}

.footer__company {
    margin-bottom: 1rem;
    font-size: var(--font-size-body);
    color: var(--black-80);
}

.footer__address {
    font-style: normal;
    margin-bottom: .5rem;
}

.footer__contact {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: .5rem;
}

.footer__inner a {
    transition: all .4s;
}

.footer__inner a:hover {
    color: var(--white-20);
    text-decoration: underline;
    text-underline-offset: 2px;
}

.footer__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
}