.btn {
    cursor: pointer;
    min-width: 160px;
}

.btn--primary {
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--accent-primary);
    font-weight: 600;
    font-size: var(--font-size-body);
    border-radius: 8px;
    padding: 12px 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    cursor: pointer;
    border: 1px solid var(--accent-primary);
}

.btn--primary:hover {
    background-color: var(--accent-primary);
    color: var(--white-90);
    transform: translateY(-2px);
}

.btn--primary.reverse {
    background-color: var(--accent-primary);
    color: var(--white-90);
}

.btn--primary.reverse:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--accent-primary);
    border: 1px solid var(--accent-primary);
}

.btn--dark {
    background-color: var(--black-90);
    color: var(--accent-primary);
    font-weight: 600;
    font-size: var(--font-size-body);
    border-radius: 8px;
    padding: 12px 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    border: none;
}

.btn--dark:hover {
    background-color: var(--accent-primary);
    color: var(--white-90);
    transform: translateY(-2px);
}

.btn--dark.reverse {
    background-color: var(--accent-primary);
    color: var(--white-90);
}

.btn--dark.reverse:hover {
    background-color: var(--black-90);
    color: var(--accent-primary);
}

.toggle-container {
    position: relative;
    margin: 0 auto;
    width: 300px;
    max-width: calc(100vw - 20px);
    height: 50px;
    background-color: var(--white-50);
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    font-family: 'Paperozi';
}

.toggle-slide {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--white-100);
    border-radius: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    left: 0;
}

.toggle-button {
    flex: 1;
    text-align: center;
    z-index: 1;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--black-40);
    font-size: var(--font-size-body);
    font-weight: 600;
    height: 100%;
    transition: all 0.4s ease;
}

.toggle-button.active {
    color: var(--accent-primary);
}

.main__header-bg {
    position: relative;
    width: 100%;
    height: 480px;
    background-position: center;
    background-size: cover;
}

.main__header-bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

.main__bg-title {
    position: relative;
    padding-top: 20px;
    font-size: var(--font-size-display);
    color: var(--white-50);
    z-index: 1;
    font-weight: 800;
    font-family: 'Paperozi';
}

.main__bg-sub {
    position: relative;
    padding-top: 100px;
    font-size: var(--font-size-h3);
    color: var(--white-30);
    z-index: 1;
    font-weight: 600;
    font-family: 'Paperozi';
}

.main__container {
    position: relative;
    z-index: 2;
    max-width: 1200px;
    background-color: var(--white-90);
    margin: 0 auto;
    padding: 40px 40px 0 40px;
    transform: translateY(-120px);
}

.main__title {
    font-size: var(--font-size-display);
    color: var(--accent-primary);
    font-family: 'Paperozi';
    font-weight: 800;
    margin-bottom: 1rem;
}

.main__sub {
    font-size: var(--font-size-h2);
    color: var(--black-50);
    margin-bottom: 40px;
}

.main__text {
    max-width: 800px;
    margin: 0 auto 20px;
    font-size: var(--font-size-body);
    line-height: var(--line-height-normal);
    color: var(--black-40);
}