.main__header-bg {
    position: relative;
    width: 100%;
    height: 480px;
    background-position: center;
    background-size: cover;
}

.main__header-bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

.main__bg-title {
    position: relative;
    padding-top: 120px;
    font-size: var(--font-size-display);
    color: var(--white-90);
    z-index: 1;
    font-weight: 800;
    font-family: 'Paperozi';
}

.main__container {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  background-color: var(--white-90);
  margin: 0 auto;
  padding: 40px;
  transform: translateY(-160px);
}

.main__title {
  font-size: var(--font-size-display);
  color: var(--accent-primary);
  font-family: 'Paperozi';
  font-weight: 800;
  margin-bottom: 1rem;
}

.main__subtitle {
  font-size: var(--font-size-h2);
  color: var(--black-50);
  margin-bottom: 40px;
}

.main__text {
  max-width: 800px;
  margin: 0 auto 20px;
  font-size: var(--font-size-body);
  line-height: var(--line-height-normal);
  color: var(--black-40);
}
